@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Helvetica-light';
    src: url('../fontes/Helvetica-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-bold';
    src: url('../fontes/Helvetica-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}

:root {
    --cor-1:#ff583f;
    --cor-2:#3C3644;
    --cor-3:#E6E6E6;
    --cor-4:#39393a;
    --cor-branco:#ffffff;
    --cor-preto:#000000;

    --font-padrão:'Helvetica-light', sans-serif;
    --font-padrão-bold: 'Helvetica-bold', sans-serif;
    --font-space-grotesk:'Space Grotesk', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: var(--cor-branco);
    font-family: var(--font-space-grotesk);
}

.cabecalho {
    width: 100%;
    background-color: var(--cor-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}

.cabecalho-logo {
    width: 60px;
}

.cabecalho-menu {
    display: flex;
    gap: 0px 50px;
}

.cabecalho-menu-itens {
    color: var(--cor-branco);
    font-family: var(--font-padrão-bold);
    font-size: 1.1em;
    padding: 7px;
}

.cabecalho-menu-itens:hover {
    color: var(--cor-1);
}

.cabecalho-menu-butao {
    background-color: var(--cor-1);
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 8px var(--cor-4);

}

.cabecalho-menu-butao:hover {
    background-color: #FF3D1F;
}

.cabecalho-menu-butao-link {
    color: var(--cor-branco);
    font-size: 1.2em;
    font-family: var(--font-padrão-bold);

}

.cabecalho-menu-butao-link:hover {
    color: var(--cor-3);
}

.conteudo {
    min-width: 250px;
    max-width: 1600px;
    margin: auto;
    padding: 0px 30px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo-principal-titulo {
    font-family: var(--font-padrão-bold);
    font-size: 4.75em;
    line-height: 80px;
    color: var(--cor-2);
    max-width: 780px;
}

strong {
    color: var(--cor-1);
    font-size: 1.2em;

}

.conteudo-principal-texto {
    font-size: 1.4em;
    padding: 20px 0px;
    max-width: 619px;
}

.conteudo-principal-butao {
    background-color: var(--cor-1);
    height: 60px;
    width: 300px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 8px #e01e005b;
    color: var(--cor-branco);
    font-family: var(--font-padrão-bold);
    font-size: 1.5em;
}

.conteudo-principal-butao:hover {
    background-color: #FF3D1F;
}

.conteudo-principal-link {
    color: var(--cor-branco);
    font-family: var(--font-padrão-bold);
    font-size: 2.0em;
}

.conteudo-principal-imagem {
    min-width: 400px;
    max-width: 900px;
}
